<form class="level-up-window">
  <!-- <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="review">Review</a>
  </nav>

  <div class="tab features flexcol" data-group="primary" data-tab="features">
    
  </div>

  <div class="tab features flexcol" data-group="primary" data-tab="spells"></div>
  <div class="tab features flexcol" data-group="primary" data-tab="review"></div> -->
</form>